@{
    ViewBag.Title = "About";
}

<section class="container" style="height: 450px;">
    <h2>Who are we?</h2>    
    <p>We are OpenAir Fitness of course!  We help you find local personal trainers in your area that provide fitness classes in parks and open spaces.</p>
    <p>If you're a personal trainer then we are the platform in which you manage your business and launch yourself toward participants.</p>
    <br/>

    <h2>Who do you represent?</h2>
    <br />
    <div class="col-lg-4">
        <center>
            <a href="@Url.Action("PersonalTrainers", "About")">
            <h3>Personal Trainers</h3>
            <br/>
            <img src="@Url.Content("~/Content/images/dumbbell.png")">
</a>
        </center>
    </div>
    <div class="col-lg-4">
        <center>
            <a href="@Url.Action("Participants", "About")">
            <h3>Class Participants</h3>
            <br/>
            <img src="@Url.Content("~/Content/images/Athlete-Silhouette.png")">
</a>
        </center>
    </div>
    <div class="col-lg-4">
        <center>
            <a href="@Url.Action("Councils", "About")">
            <h3>Local Councils</h3>
            <br/>
            <img src="@Url.Content("~/Content/images/council.png")">
</a>
        </center>
    </div>
</section>
