@using FittyCent.Domain
@model FittyCent.Web.Models.EditUserAccountModel
@{
    ViewBag.Title = "Edit Profile";
}
@Html.Partial("_TrainerAccountNavMenu")
<div class="body-content">
    <h2>Edit Profile</h2>
    <div class="edit-container">
        @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            @Html.FormGroupTextAreaFor(m => m.Summary)
            if (Model.UserType == UserType.Trainer)
            {
                @Html.FormGroupTextBoxFor(m => m.CompanyName)
                @Html.FormGroupTextBoxFor(m => m.CompanyWebsite)
                <div class="form-group">@Html.LabelFor(m => m.IsInsured, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" }) @Html.CheckBoxFor(m => m.IsInsured) <label for="IsInsured">Yes</label></div>
                <div class="form-group">@Html.LabelFor(m => m.HasMobileServiceAvailable, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" }) @Html.CheckBoxFor(m => m.HasMobileServiceAvailable) <label for="HasMobileServiceAvailable">Yes</label></div>
                @Html.FormGroupTextAreaFor(m => m.Registrations)
                @Html.FormGroupTextAreaFor(m => m.Qualifications)
                @Html.FormGroupTextAreaFor(m => m.Specialisations)
            }
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.UserType)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.UserType)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.Surname)
            @Html.HiddenFor(m => m.Postcode)
            <input type="submit" value="Save" class="btn btn-sm btn-primary" />
        }
    </div>
</div>