@using FittyCent.Domain
@model FittyCent.Web.Models.EditUserAccountModel
@{
    ViewBag.Title = "My Account";
}

<div class="body-content">
    <h2>Edit Account</h2>
    @using ( Html.BeginForm("Edit", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal" }) ) {
        @Html.FormGroupDisplayFor(m => m.UserName)
        @Html.FormGroupDisplayFor(m => m.UserType)
        @Html.FormGroupDisplayFor(m => m.Email)
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.UserType)
        @Html.HiddenFor(m => m.Email)
        @Html.FormGroupTextBoxFor(m => m.FirstName)
        @Html.FormGroupTextBoxFor(m => m.Surname)
        @Html.FormGroupTextBoxFor(m => m.Postcode)
        if ( Model.UserType == UserType.Trainer ) {
            <hr />
            @Html.FormGroupTextAreaFor(m => m.Summary)
            @Html.FormGroupCheckBoxFor(m => m.IsInsured)
            @Html.FormGroupCheckBoxFor(m => m.HasMobileServiceAvailable)
            @Html.FormGroupTextAreaFor(m => m.Registrations)
            @Html.FormGroupTextAreaFor(m => m.Qualifications)
            @Html.FormGroupTextAreaFor(m => m.Specialisations)
        }
        <input type="submit" value="Save" class="btn btn-sm btn-primary" />
    }
</div>