@model FittyCent.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Please Log in";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2 class="form-signin-heading">@ViewBag.Title.</h2>
    <br/>    
    
    @Html.TextBoxFor(model => model.UserName, new {@class = "form-control", placeholder = "Username"})
    @Html.ValidationMessageFor(model => model.UserName)
    <br/>
    @Html.PasswordFor(model => model.Password, new {@class = "form-control", placeholder = "Password"})
    @Html.ValidationMessageFor(model => model.Password)

    <br/>
    <button type="submit" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-ok"></span> Login</button>
    <a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-default btn-block"><span class="glyphicon glyphicon-asterisk"></span> Register</a>
    <br/>
    @Html.ValidationSummary(true)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section styles{
    @Styles.Render("~/Content/css/login")
}