@model FittyCent.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="col-lg-6">
                <p>Just a few of the usual questions so you can create your account.</p>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserType, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        @Html.EnumDropDownListFor(m => m.UserType, "-- Pick A User Type --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserType)
                    </div>
                </div>
                @Html.FormGroupTextBoxFor(m => m.Email)
                @Html.FormGroupPasswordFor(m => m.Password)
                @Html.FormGroupPasswordFor(m => m.ConfirmPassword)
            </div>

            <div class="col-lg-6">
                <p>And a couple more so we can tailor our service to your needs.</p>
                @Html.FormGroupTextBoxFor(m => m.FirstName)
                @Html.FormGroupTextBoxFor(m => m.Surname)
                @Html.FormGroupTextBoxFor(m => m.Postcode)
                @Html.FormGroupTextBoxFor(m => m.BirthYear)
                <div class="form-group">
                    @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        @Html.EnumDropDownListFor(m => m.Gender, "-- Pick A User Type --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Gender)
                    </div>
                </div>
            </div>

            <p>Don't worry - we won't be sharing these with anyone without your permission.</p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Sign Up</button>
                </div>
            </div>
        }
</div>