@using Boxcubic.PropertyMarketing.Web
@model FittyCent.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using ( Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }) ) {
    <h4>Register a new account.</h4>
    <hr />
    @Html.ValidationSummary()

    @Html.FormGroupTextBoxFor(m => m.UserName)
    <div class="form-group">
        @Html.LabelFor(m => m.UserType, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
        <div class="col-md-6 col-sm-8 col-xs-12">
            @Html.EnumDropDownListFor(m => m.UserType, "-- Pick User Type --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserType)
        </div>
    </div>

    @Html.FormGroupTextBoxFor(m => m.Email)
    @Html.FormGroupTextBoxFor(m => m.ConfirmEmail)
    @Html.FormGroupPasswordFor(m => m.Password)
    @Html.FormGroupPasswordFor(m => m.ConfirmPassword)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}