@model FittyCent.Web.Models.SessionModel
@{
    ViewBag.Title = "Edit Session";
}
@Html.Partial("_TrainerAccountNavMenu")
<div class="body-content">
    <div class="edit-container">
        <h2>Edit Session for @Model.TrainerClassTitle</h2>
        @using (Html.BeginForm("Edit", "Sessions", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.EditorForModel()
            <input type="submit" value="Save" class="btn btn-sm btn-primary" />
        }
        <hr />
        <div>
            @Html.ActionLink("Cancel", "Details", "Sessions", new { id = Model.Id }, null)
        </div>
    </div>
</div>

