@model IEnumerable<FittyCent.Web.Models.TrainerClassModel>
@{
    ViewBag.Title = "Edit Class";
}

<div class="body-content">
    @Html.Partial("_TrainerAccountNavMenu")
    <h2>My Classes</h2>

    @Html.ActionLink("Post A Class", "Create", "Classes", null, new { @class = "btn btn-sm btn-primary" })
    <br/>
    <br/>
    <table class="table table-hover table-responsive">
        <tr class="active">
            <th>
                Title
            </th>
            <th>
                Type
            </th>
            <th>
                Keywords
            </th>
        </tr>

        @foreach (var classModel in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(classModel.Title, "Details", "classes", new { area = "User", classModel.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(m => classModel.Type)
                </td>
                <td>
                    @Html.DisplayFor(m => classModel.Keywords)
                </td>
            </tr>
        }
    </table>

</div>